$_img_url = '~@/assets/img/'

// 背景引入图片进行初始化设置
$bgImg(img)
  background-image url($_img_url + img)
  background-size 100% 100%
  background-repeat no-repeat

btn()
  cursor pointer
  border-radius 2em
  text-align center
  user-select none